.footer {
    min-height: 500px;
    padding: 50px 0 40px 0;
    background-color: #0082a1;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__company {
        width: 377px;
    }
    &__title {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
    }
    &__descr {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        list-style: none;
        padding: 0;
    }
    &__link {
        color: #ffffff;
        &:hover {
            color: #ffffff;
        }
    }
    &__img {
        margin: 23px 0 23px 0;
    }
    &__divider {
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        opacity: 0.3;
        margin: 44px 0 36px 0;
    }
    &__info {
        color: #ffffff;
        font-size: 13px;
        font-weight: 300;
        text-align: center;
    }
}